body{
    margin:0;
    padding:0;
}
#aboutContainer{
    background-color:#2ec4b6;
    font-family:"coves";
    color:black;
    height:200vh;
}
#quick-bio{
    text-align: center;
    margin-top:5%;
    font-weight:bold;
    font-size:320%;
}
#bioText{
    margin-left:24%;
    margin-top: 3%;
    font-weight:lighter;    
    font-size:140%;
    letter-spacing:0.65px;
    opacity:0.7;
}
#skills{
    text-align:center;
    margin-top:5%;
    font-size:320%;
    font-weight:bold;
}
#skillSection{
    margin-left:40%;
    margin-top:3%;
    opacity:0.7;
    line-height: 168%; 
    font-size:140%;
}
#homeLink{
    margin-left:16%;
    text-decoration: none;
}
#projectsLink{
    margin-left:55%;
    text-decoration: none;  
}
.link{
    display:inline-block;
    margin-top:5%;
    margin-bottom:3%;
    font-size:135%;
    color:black;
    opacity:0.4;
    padding:1%;
}
.link:hover{
    border: 1.5px solid white;
    opacity:1;
    color: white;
}