body{
    margin:0;
    padding:0;
}
#contactContainer{
    /*background-color:#f29e4c;*/
    background-color: #DDCECD;
    height:110vh;
    font-family:"coves";
}
#Homelink{
    margin-left:15%;
    font-size: 140%;
    font-family:"coves";    
    font-weight:lighter;
    color: #17183B;
    padding:1%;
    text-decoration:none;
}
#Projectslink{
    margin-left:58%;
    font-size: 140%;
    font-family:"coves";    
    font-weight:lighter;
    color: #17183B;
    padding:1%;
    text-decoration:none;
}
#linkProjectsCont{
    background-color: #DDCECD;
}
.Nlink{
    margin-top:5%;
    margin-left:25%;
    display: inline-block;
}
#Homelink:hover{
    border: 1.5px solid #17183B;
}
#Projectslink:hover{
    border: 1.5px solid #17183B;
}
#smContainer{
    display:inline-block;
    margin-left:25%;
    margin-bottom:2%;
}
#github, #ig, #mail{
    width:8%;
    height:8%;
    margin:5%;
    opacity:1;
}
.sm-icon:hover{
    opacity:0.5;
}

#motto{
    margin-left:30%;
    margin-top:5%;
}
.description{
    font-size:130%;
    margin-left:38%;
    margin-top:3%;
    margin-bottom:5%;
}

@media only screen and (max-width:650px){
    #contactContainer{        
        height:100vh;
        font-family:"coves";
    }
    #Homelink{
        display:inline-flex;
        margin-left:12%;
        font-size: 140%;
        font-family:"coves";    
        font-weight:lighter;
        color: #17183B;
        padding:1%;
        text-decoration:none;
    }
    #Projectslink{
        display:inline-flex;
        margin-left:40%;    
        font-size: 140%;
        font-family:"coves";    
        font-weight:lighter;
        color: #17183B;
        padding:1%;
        text-decoration:none;
    }
    #homeCont, #linkProjectsCont{
        display:inline-flex;
        background-color: #DDCECD;
        margin-top:20%;
        margin-bottom:8%;
    }
    #homeCont{
        margin-left:14%;
    }
    #linkProjectsCont{
        margin-left:20%;
        background-color: #DDCECD;
    }
    #motto{
        margin-left:15%;
        font-size:178%;
        font-weight:bolder;
    }
    .description{
        margin-top:12%;
        margin-left:15% !important;
        margin-right:10%;
        
        font-style: italic;
    }
    #smContainer{
        margin-left:30%;
        margin-top:8%;
    }
    .sm-icon{
        display:block;
        visibility:visible;
        color:none;
    }
    #github, #ig, #mail{
        width:50%;
        height:50%;        
        margin:5%;
        opacity:1;
    }


}
@media only screen and (max-width:800px){
    #contactContainer{        
        height:100vh;
        font-family:"coves";
    }
    #Homelink{
        display:inline-flex;
        margin-left:12%;
        font-size: 140%;
        font-family:"coves";    
        font-weight:lighter;
        color: #17183B;
        padding:1%;
        text-decoration:none;
    }
    #Projectslink{
        display:inline-flex;
        margin-left:40%;    
        font-size: 140%;
        font-family:"coves";    
        font-weight:lighter;
        color: #17183B;
        padding:1%;
        text-decoration:none;
    }
    #homeCont, #linkProjectsCont{
        display:inline-flex;
        background-color: #DDCECD;
        margin-top:20%;
        margin-bottom:8%;
    }
    #homeCont{
        margin-left:14%;
    }
    #linkProjectsCont{
        margin-left:20%;
        background-color: #DDCECD;
    }
    #motto{
        margin-left:15%;
        font-size:178%;
        font-weight:bolder;
    }
    .description{
        margin-top:12%;
        margin-left:15% !important;
        margin-right:10%;
        
        font-style: italic;
    }
    #smContainer{
        margin-left:30%;
        margin-top:8%;
    }
    .sm-icon{
        display:block;
        visibility:visible;
        color:none;
    }
    #github, #ig, #mail{
        width:50%;
        height:50%;        
        margin:5%;
        opacity:1;
    }
}