@font-face{
    font-family:"trebuchet";
    src:url("../Fonts/trebuc.woff")format("woff");
}
@font-face{
    font-family:"coves";
    src:url("../Fonts/coves_light-webfont.woff") format("woff");
}

body{
    margin:0;
    padding:0;    
    font-family:sans-serif;
    overflow-x: hidden;
}
#HomeContainer{
    /*color:#F564A9;*/
    color:black;
    height:100vh;
    background-color:#f72585;
}
#name{
    text-align: center;
    font-family:"trebuchet";
    font-size:300%;
    margin-top:12%;
    margin-left:5%;
    margin-bottom:2%;
    
}
#occupation{
    margin-left:43%;
    font-size:170%;
    margin-bottom:2%;
    margin-top:1%;
    font-family:"coves";
    letter-spacing:2.3px;
}
#banner{
    margin-left:38%;
    font-size:130%;
    font-family:"coves";
    letter-spacing:1.5px;
    font-style: italic;
}
#about-me{
    margin-left:12%;
    font-family:"coves";
    font-weight:lighter;
    display:inline-block;
    /*color:#F564A9;*/
    color:black;
    opacity:0.6;
    font-size:145%;
}
#projects{
    margin-left:60%;
    font-family:"coves";
    font-weight:lighter;
    display:inline-block;
    /*color:#F564A9;*/
    color:black;
    opacity:0.6;
    font-size:145%;
}
.nav-link{
    text-decoration:none;
    margin-top:5%;
    padding:1.5%;
}
#projects:hover, #about-me:hover{
    color:white;
    opacity:0;
}

.nav-link:hover{
    border: 1.6px solid white;
}

@media screen and (max-width: 600px){
    #projects{
        display:inline-flex;
        align-self: center;
        margin-top: 20%;
        margin-left:28%;
        font-size:140%;
    }
    #about-me{
        display:inline-flex;
        align-self: center;
        margin-top: 18%; 
        margin-left:14%;                
        font-size: 140%;        
    }
    #name{
        margin-top:35%;
        font-size:200%;
    }
    #occupation{
        margin-top:2.5%;    
        font-size:130%;
        margin-left:32.5vw;
    }
    #banner{
        margin-top:2.5%;
        font-size:120%;
        margin-right:15vw;
        margin-left:7.8vw;
    }
}