body{
    margin:0;
    padding:0;
}
#projectsCont{
    background-color: limegreen;
}
.projects-img{
    width:55%;
    height:100%;
}
#ignacio, #dogs{
    width:100%;
    height:100%;
    margin-left:45%;
    display:inline-block;
}
#ignacio{
    margin-top:20%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}
#dogs{
    margin-top:3%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}
#home-cont{
    margin-left:9%;
    padding:1%;
    background-color: limegreen;
}
#about-cont{
    margin-left:70%;    
    padding:1%;
    background-color: limegreen;
}
#home-link{
    text-decoration:none;
    padding:1% !important;
    font-size: 130%;
    font-family:"coves";    
    opacity:0.6;
    font-weight:bold;
    color:darkgreen;
}
#about-link{
    text-decoration:none;
    font-size: 130%;
    padding:1%;
    font-family:"coves";
    opacity:0.6;
    font-weight:bold;
    color:darkgreen;
}
#home-link:hover{
    color:whitesmoke;
    border: 1.5px solid white;
    opacity:1;
}
#about-link:hover{
    color:whitesmoke;
    border: 1.5px solid white;
    opacity:1;
}
#navigation{
    margin-top:5%;
}
.back-link-cont{
    margin-top:10%;
    margin-left:48%;
    margin-bottom:2%;   
    font-family:"coves";
}
#back-link{
    text-decoration:none;
    font-size:120%;
    margin-bottom:5%;
    color: black;
}
#back-link:hover{
    color:whitesmoke;
}
