body{
    margin:0;
    padding:0;
}
#projectsCont{
    background-color:#EFEA5A;
    font-family:"coves";
}
.projects-img{
    width:55%;
    height:110%;
}
#ignacio, #dogs{
    width:100%;
    height:100%;
    margin-left:45%;
    display:inline-block;
}
#ignacio{
    margin-top:20%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}
#dogs{
    margin-top:3%;
    border-radius: 5px;
    height:15%;
    width:100%;
    opacity:1;
}
#dogsImg{
    object-fit: cover;
    width:100%;
    height:30%;
    visibility: hidden;
    opacity: 0;
}
#dogs:hover{
    opacity:0.5;
}
#Jordan{
    margin-top:5%;
    border-radius:5px;
    width:100%;
    height:100%;
    margin-left:45%;
    opacity:1;
}
#Jordan:hover{
    opacity: 0.5;
}
#home-cont{
    margin-left:12%;
    padding:1%;
    opacity:0.6;
}
#about-cont{
    margin-left:60%;    
    padding:1%;
    opacity:0.6;
}
#home-link{
    text-decoration:none;
    padding:1% !important;
    font-size: 140%;
    font-family:"coves";    
    font-weight:lighter;
    color: #17183B;
}
#about-link{
    text-decoration:none;
    font-size: 140%;
    padding:1%;
    font-family:"coves";
    opacity:0.6;
    font-weight:lighter;
    color: #17183B;
}
.navLink{
    display:inline-block;
    margin-top:5%;
}
#home-link:hover{
    border: 1.5px solid #17183B;
    color:#17183B;
    opacity:1;
}
#about-link:hover{
    border: 1.5px solid #17183B;
    color:#17183B;
    opacity:1;
}
#ignacioLink{
    opacity:1;
}
#ignacioLink:hover{
    opacity:0.5;
}
#ProjectInfo{
    padding:2%;
    margin-top:7%;
}
#DogsProject{
    margin-top:7%;
    padding:1.5%;
}
#JorProject{
    margin-top:5%;
    padding:1.5%;

}
.card{
    margin-left:55%;
    width:80%;
}
#contactMe{
    display:block;
    text-decoration: none;
    margin-left:47%;
    margin-top:5%;
    font-size:135%;
    font-weight:bold;
    color: #17183B;
    /*margin-bottom:7%;*/
    padding:1.8%;
    width:17%;
    background-color:#EFEA5A;
}
#contactMe:hover{
    text-decoration-line: overline;
}
.infoBtn{
    margin-left:85%;
    font-size:120%;
    width:20%;
}
